# Project place file
/zombie-farm-tycoon.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock
# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Rojo / Roblox
*.rbxl
*.rbxlx
*.rbxm
*.rbxmx

# Luau tools (если появятся)
lune/
selene/
stylua/
aftman/
sourcemap.json
